<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <p><%= notice %></p>
  <h1>一覧</h1>
    <%= link_to "newpost", new_post_path, class: 'btn btn-default' %>
  <% @posts.each do |post| %>
  <div class="row">
    <h4><strong><%= post.title %></strong></h4>
  <%= link_to "edit", edit_post_path(post.id), data: { confirm: '本当に編集しますか？' }, class: 'btn btn-default btn-sm btn-success' %>
  <%= link_to 'delete', post_path(post), method: :delete, data: { confirm: '本当に削除しますか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
  </div>
  <% end %>
 </div>
</div>